<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
   <title>Webserver</title>
   <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
   <link rel="stylesheet" href="static/bootstrap-theme.min.css">
   <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>
<!-- leds -->
   <body style="background:rgb(84, 92, 84)">
      <h1 align="center"; style="color: navy">Kontrollera dina leds</h1>

         <h2 align="center"; style="color: green"> Led 1
            <button>
               <a href="/pin1/on" style="color: green"> ON</a>
            </button>
            <button>
               <a href="/pin1/off" style="color: red"> OFF</a>
            </button>
         </h2>

         <h2 align="center"; style="color: orange"> Led 2
            <button>
               <a href="/pin2/on" style="color: green"> ON</a>
            </button>
            <button>
               <a href="/pin2/off" style="color: red"> OFF</a>
            </button>
         </h2>

         <h2 align="center"; style="color: red"> Led 3
            <button>
               <a href="/pin3/on" style="color: green"> ON</a>
            </button>
            <button>
               <a href="/pin3/off" style="color: red"> OFF</a>
            </button>
         </h2>
   </body>

   <!-- motors-->
   <body>
      <h1 align="center"; style="color: goldenrod;">Motorer</h1>
   <!--start and turn off motors-->
         <h2 align="center"; style="color: black"> start and off
            <button>
               <a href="/pin4/start" style="color:black"> start</a>
            </button>
            <button>
               <a href="/pin4/off" style="color:black"> off</a>
            </button>
         </h2>  

   <!--forward and backwards-->
         <h2 align="center"; style="color: black"> forward and backward
            <button>
               <a href="/pin5/forward" style="color:black"> forward</a>
            </button>
            <button>
               <a href="/pin5/backward" style="color:black;"> backward</a>
            </button>
         </h2>

   <!-- speeds to motor-->
         <h2 align="center"; style="color: black"> speeds
            <button>
               <a href="/pin6/low" style="color:black"> low</a>
            </button>
            <button>
               <a href="/pin6/medium" style="color: black;"> medium</a>
            </button>
            <button>
               <a href="/pin6/high" style="color: black;"> high</a>
            </button>
         </h2>

   <!-- stering -->
         <h2 align="center"; style="color: black;"> steering
            <button>
               <a href="/pin7/sl" style="color: black;"> steering left</a>
            </button>
            <button>
               <a href="/pin7/sr" style="color: black;"> steering right</a>
            </button>
         </h2>
   <!-- timer stering -->
         <h2 align="center"; style="color: black;"> time steering
            <button>
               <a href="/pin8/tl" style="color: black;"> time left</a>
            </button>
            <button>
               <a href="/pin8/tr" style="color: black;"> time right</a>
            </button>
         </h2>
   </body>
</html>
